<!--
  Generated template for the Gallery page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="z-index: -1">
    	<img class="title-image center" src="img/logoM.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="loaded">
    <div class="bar bar-header bar-gallery">
      <i class="center gallery-txt">&nbsp;&nbsp;
      <ion-icon name="images"></ion-icon>
        {{ 'SOUVENIR' | translate }}
      </i>
    </div>
  	<h1 class="noImage" *ngIf="allImages.length === 0 ">
      {{ 'NOIMAGE' | translate }}
    </h1>
  	<ion-grid>
        <ion-row wrap *ngFor="let image of allImages; let i = index " >
          <div *ngIf="i % 4 === 0">
            <ion-col class="imgCol" *ngIf="i < allImages.length">
              <img [src]="allImages[i]" width="100%" (click)="showImages(i)" />
            </ion-col>
            <ion-col class="imgCol" *ngIf="i + 1 < allImages.length">
              <img [src]="allImages[i + 1]" width="100%" (click)="showImages(i + 1)"/>
            </ion-col>
            <ion-col class="imgCol" *ngIf="i + 2 < allImages.length">
              <img [src]="allImages[i + 2]" width="100%" (click)="showImages(i + 2)"/>
            </ion-col>
            <ion-col class="imgCol" *ngIf="i + 3 < allImages.length">
              <img [src]="allImages[i + 3]" width="100%" (click)="showImages(i + 3)"/>
            </ion-col>
         </div>
        </ion-row>
   	</ion-grid>
  </div>
</ion-content>
