page-points-interet-main {
	.card-background-page {

	  .card-title {
	    position: absolute;
	    bottom: 16%;
	    font-size: 1.8em;
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	    float: left;
	  }

	  .card-subtitle {
	    font-size: 1.0em;
	    position: absolute;
	   	bottom: 10%;
	    width: 100%;
	    color: #fff;
	  }
	  .icon-Parc {
	  	width: 20%;
	  }

	}
}
