page-points-interet {

	/* image slider size */
	ion-slides {
		height: 40%;
	}

	/* Text style*/
	p {
		text-align: justify;
	}

	.card p {
		font-size:90%;
	}

	.card-title {
		font-size:1.9rem;
	}

}
