<ion-header>
  <ion-navbar>
    <button ion-button clear (click)="centerOnMe()" left>
    	<ion-icon name="locate"></ion-icon>
    </button>
  	<button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="z-index: -1">
    	<img class="title-image center" src="img/logoM.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img class="imageHome"  src="56-1.jpg">
  <ngui-map [center]="lat+','+lng" [zoom]="zoom">
    <marker *ngFor="let pos of positionsM" [position]="pos" icon="img/icon-map.png" animation="DROP" (click)="voirDetailPI(pos[2])"></marker>
    <marker [position]="markers" icon="img/ic.png" [visible]="visible" animation="BOUNCE"></marker>
  </ngui-map>
    <ion-card>
	    <ion-item style=" background-color: #d6d6d6">
			<h2 style="text-align: center"><b>Les Parcours</b></h2>
	    </ion-item>
	</ion-card>
	<ion-card *ngFor="let parcours of parcoursMoment; let i = index" style="height: 23%" (click)="voirListePI(i)" >
		   
			    <img class="center icon-Acc" [src]="parcours.icone">
			    <h1 class="center">{{parcours.title}}</h1>
      
	</ion-card>

  <!--	
  <ion-fab right bottom>
    	<button ion-fab color="bordeaux"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  -->
</ion-content>
