<ion-header no-shadow>
  <ion-navbar transparent>
    <button ion-button clear (click)="centerOnMe()" left>
    	<ion-icon name="locate"></ion-icon>
    </button>
  	<button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="z-index: -1">
    	<img class="title-image center" src="img/logoM.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img class="imageHome"  src="56-1.jpg">
  <div class="title-app">MONTMORILLON</div>
  <div class="homeText">
    <h1>
      VISITEZ AUTREMENT
    </h1>
    <p>
      un texto de relleno acá bien mamalon a la verga compa fierro
    </p>
  </div>
  <div class="parcours">
    <div class="image" *ngFor="let parcours of parcoursMoment; let i = index " (click)="voirListePI(i)">
      <img [src]="imageSrc[i]">
      <div class="title-parc">
        <p>
         {{parcours.title}}
        </p>
      </div>
      <div class="textleg">
        <p>--- {{pisParcour[i]}} PI ---</p>
      </div>
    </div>
  </div>
  <ngui-map [center]="lat+','+lng" [zoom]="zoom" streetViewControl="false" zoomControl="false" fullscreenControl="false" mapTypeControl="false">
    <marker *ngFor="let pos of positionsM" [position]="pos" icon="img/icon-map.png" animation="DROP" (click)="voirDetailPI(pos[2])" ></marker>
    <marker [position]="markers" icon="img/ic.png" [visible]="visible" animation="BOUNCE"></marker>
  </ngui-map>
</ion-content>
