.ios, .md {
 
    page-home {
    
	    #map {
	       width: 100%;
	       height: 40%;
	    }
	 ion-title {
	  position: absolute;
	  top: 0;
	  left: 0;
	  padding: 0 90px 1px;
	  width: 100%;
	  height: 100%;
	  text-align: center;
	}
    }

}