/*Menu Side*/
#imgMenuSide{
  width: 100%;
  background-color: #7c413d!important;
}

.iconMenu{
  font-size: 23px;
}

/*
Image Navigation bar
*********************
*/

.title-image {
  height: 45px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  color: black;
}
/*
*********************
*/
/*
NavBar and footer Background 
*********************
*/
.toolbar-background, .tabbar {
  border-color: #7c413d!important;
  background-color: #7c413d !important;
}
/*
*********************
*/
/*
Icons Color
*********************
*/
ion-icon, span{
  color: #f2eded!important;
}
/*
*********************
*/
/*
NavBar Height
*********************
*/
ion-navbar {
  height: 44px;
}

/* Permet de gérer la taille de l'icone pour les parcours sur la page d'accueil*/
.icon-Acc{
  width: 20%;
  max-width: 90px;
}
/* Permet de centre le titre sur MD(Android) */
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
/*Ici on definit la localisation du copyright */
.textCopyright{
  position: absolute;
  text-align: end;
  bottom: 6%;
  left: 16px;
  right:16px;
  height: 20%;
}

/*Ici on definit la police du copyright  */
.textCopyright p{
  font: bold Helvetica, Sans-Serif;
  opacity: 0.8;
  color: white;
  font-size: 2vw;
  line-height: normal;
  margin: auto;
}
.textleg{
  opacity: 1;
  background-color:#7c413d;
  position: absolute;
  bottom: 2%;
  left: 16px;
  right:16px;
  text-align: center;
  height: 20%;
}

/*Ici on définit la police du nom des parcours sur la page 'parcours' */
.textleg p{
  font: bold Helvetica, Sans-Serif;
  color: white;
  font-size: 3vw;
  margin-top: 3vw;
}
/* Ici on rajoute le petit bandeau sur le bas des images */
.textim{
  opacity: 0.9;
  background-color:#7c413d;
  position: absolute;
  bottom: 19px;
  left: 16px;
  right:16px;
  text-align: center;
  height: 25%;
}
.buttonDemarrer {
  background-color: #7c413d;
  

}