/*Menu Side*/
#imgMenuSide{
  width: 100%;
  background-color: #7c413d!important;
}

.iconMenu{
  font-size: 23px;
}

/*
Image Navigation bar
*********************
*/

.title-image {
  height: 45px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  color: black;
}
/*
*********************
*/
/*
NavBar and footer Background 
*********************
*/
.toolbar-background, .tabbar {
  border-color: #7c413d!important;
  background-color: #7c413d !important;
}
/*
*********************
*/
/*
Icons Color
*********************
*/
ion-icon, span{
  color: #f2eded!important;
}
/*
*********************
*/
/*
NavBar Height
*********************
*/
ion-navbar {
  height: 44px;
}

/* Permet de gérer la taille de l'icone pour les parcours sur la page d'accueil*/
.icon-Acc{
  width: 20%;
  max-width: 90px;
  margin-top: 10px;
}
/* Permet de centre le titre sur MD(Android) */
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
