<!--
  Generated template for the DetailPi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="z-index: -1">
    	<img class="title-image center" src="img/logoM.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides autoplay="5000" loop pager effect="fade" *ngIf="loaded">
    <ion-slide *ngFor="let images of imagesColection">
        <div class="box">
            <img class="full-image" [src]="images.image">
            <div class="textCopyright">
              <p>{{images.auteur}}</p>
            </div>
            <div class="textleg">
              <p>{{images.legende}}</p>
            </div>
          </div>
    </ion-slide>
  </ion-slides>

  <ion-card *ngIf="pointInteret">
      <ion-card-content>
        <ion-item class="item-text-wrap">
          <h1 class="center">{{pointInteret.title}}</h1>
          <p [innerHTML]="adresse"></p>
          <p [innerHTML]="horaire"></p>
        </ion-item>
        <p class="text" [innerHTML]="pointInteret.description"></p>
        <h2 *ngIf="pointInteret.anecdote != null"><b>Le saviez-vous?</b></h2>
        <p class="text" [innerHTML]="pointInteret.anecdote"></p>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content *ngIf="pointInteret">
      <ion-card-title>
        Localisation
      </ion-card-title>
        <ion-item class="item-text-wrap">
          <ngui-map [center]="pointInteret.longitude_latitude.lat+','+pointInteret.longitude_latitude.lon" [zoom]="zoom">
            <marker [position]="pointInteret.longitude_latitude.lat+','+pointInteret.longitude_latitude.lon" icon="img/icon-map.png" animation="DROP"></marker>
          </ngui-map>
        </ion-item>
      </ion-card-content>
  </ion-card>
</ion-content>
