page-detail-pi {
	/* image slider size */
	ion-slides {
		height: 50%;
	}

	/*information du pi*/
	.info{
		white-space: normal;
	}

	.text {
		text-align: justify;
	    text-justify: inter-word;
	}
	.mediaBtn {
		width: 48%;
	}
	video {
		width: 100%;
		height: 50%;
	}
}
