<!--
  Generated template for the DetailPi page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="app_colour">
  	<button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="z-index: -1">
    	<img class="title-image center" src="img/logoM.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!videoActive">
    <ion-slides autoplay="5000" loop pager effect="fade" *ngIf="loaded">
      <ion-slide *ngFor="let images of imagesColection; let i = index">
          <div class="box">
              <img class="full-image" [src]="imageSrc[i]">
              <div class="textCopyright">
                <p>{{images.auteur}}</p>
              </div>
              <div class="textleg">
                <p>{{images.legende}}</p>
              </div>
            </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div *ngIf="videoActive">
      <video autoplay="true" (ended)="videoEnded()" controls>
        <source src="assets/videos/sample_video.mp4" type="video/mp4">
      </video>
  </div>
  <button class="mediaBtn" ion-button large color="app_colour" (click)="musicBtn()"><ion-icon class="center" name="headset"></ion-icon></button>
  <button class="mediaBtn" ion-button large color="app_colour" (click)="videoBtn()"><ion-icon class="center" name="videocam"></ion-icon></button>
  <div *ngIf="musicActive">
    <audio controls>
      <source [src]="myTracks[0].src" type="audio/mpeg">
    </audio>
  </div>

  <ion-card *ngIf="pointInteret">
      <ion-card-content>
        <ion-item class="item-text-wrap">
          <h1 class="center">{{pointInteret.title}}</h1>
          <p [innerHTML]="adresse"></p>
          <p [innerHTML]="horaire"></p>
        </ion-item>
        <p class="text" [innerHTML]="pointInteret.description"></p>
        <h2 *ngIf="pointInteret.anecdote != null"><b>{{ 'ANECDOTE' | translate }}</b></h2>
        <p class="text" [innerHTML]="pointInteret.anecdote"></p>
        <h2 *ngIf="pointInteret.tarif != null"><b>{{ 'TARIFS' | translate }}</b></h2>
        <p class="text" *ngIf="pointInteret.tarif != null" [innerHTML]="pointInteret.tarif" ></p>
        <h2 *ngIf="pointInteret.telephone != null || pointInteret.site_internet != null || pointInteret.email != null "><b>{{ 'CONTACT' | translate }}</b></h2>
        <p class="text" *ngIf="pointInteret.telephone != null" >{{"TELEPHONE" | translate}}: <a (click)="call(pointInteret.telephone)">{{pointInteret.telephone}}</a></p>
        <p class="text" *ngIf="pointInteret.site_internet != null" >{{"SITE_INTERNET" | translate}}: {{pointInteret.site_internet}}</p>
        <p class="text" *ngIf="pointInteret.email != null" >{{"EMAIL" | translate}}: {{pointInteret.email}}</p>
      </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content *ngIf="pointInteret">
      <ion-card-title>
        {{ 'LOCALISATION' | translate }}
      </ion-card-title>
        <ion-item class="item-text-wrap">
          <ngui-map [center]="pointInteret.longitude_latitude.lat+','+pointInteret.longitude_latitude.lon" [zoom]="zoom">
            <marker [position]="pointInteret.longitude_latitude.lat+','+pointInteret.longitude_latitude.lon" icon="img/icon-map.png" animation="DROP"></marker>
          </ngui-map>
        </ion-item>
      </ion-card-content>
  </ion-card>
</ion-content>
